body{
    text-align: center;
    margin: 10;
    font-family: Verdana, Arial, sans-serif;
    font-size: 16px;
    height: 100vh;
    width: 100%;
    background: linear-gradient(to bottom, #68EACC 0%,#497BE8 100%)
}
input {
    display: inline-block;
    margin: 20px auto;
    border: 2px solid rgb(33, 0, 37);
    padding: 10px 20px;
    font-family: Verdana, Arial, sans-serif;
    font-size: 16px;
}
.tdItem {
    text-align: left;
    padding: 10px;
    cursor: default;
    border-radius: 7px;
}
.tdItem:hover {
    background-color: lightblue;
}